@charset "utf-8";

.container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    align-items: center;
  }

  .title {
    padding: 20px;
  }
    
  .menu {
    display: flex;
  }

  li {
    padding: 20px;
    border-right:1px solid #333;
  }

  li:last-child{
    border: none;
}

    @media screen and (max-width: 767px) 
{
    .container {
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        gap: 0;
    }

    .menu {
      flex-direction: column;
    }

    li {
      border: none;
      border-bottom: 1px solid #333;
      width: 350px;
    }

    li:last-child {
      border-bottom: 1px solid #333;
      width: 350px;
    }
}