@charset "utf-8";

body {
    max-width: 960px;
    background-color: #eeeeee;
}

.title {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    color: #119864;
}

.container {
    max-width: 960px;
    margin: 50 auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding-left: 0;
    gap: 30px;
}

.contents {
    color: #119864;
    border-left: 20px solid #119864;
    padding-left: 30px;
}

p {
    padding-left: 10px;
}

.box {
    list-style: none;
    background-color: white;
}

@media screen and (max-width: 400px) 
{
    .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    img {
        width: 100%;
    }
}